* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

.home-container .recipes-list  {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fff;
}

.home-container .recipes-list .recipes-cards {
    display: flex;
    width: 280px;
    margin: 10px;
    padding-bottom: 20px;
    text-align: center;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.288);
    background-color: white;
    transition: all .2s ease-in-out;
}

.home-container .recipes-list .recipes-cards:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.39);
}

.home-container .recipes-list .recipes-cards h2 {
    font-size: 1.04rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.recipe-img { border-radius: 8px 8px 0 0; }

.recipes {
    text-decoration: none;
    margin: 5px 0;
    padding: 4px 8px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 501;
    color: #fff;
    background-color: #000;
    transition: all .2s ease-in-out;
}

.recipes:hover {
    transform: scale(1.01);
    color: #000;
    background-color: #fff;
    box-shadow: 3px 3px 2px #000;
}